section.container-grid {
  width: 100%;
  float: left;
  padding: 0 15px 15px 15px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    padding: 5px;

    @screen md {
      font-size: 30px;
    }
  }

  .col {
    padding: 15px;

    .wrapper {
      height: 500px;
      position: relative;
      overflow: hidden;

      .image {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

        img {
          transition: all 0.3s;
          height: 100%;
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }

      .content {
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);

        h3 {
          font-size: 25px;
          color: #fff;
          font-weight: 500;
          font-family: $roboto;
        }
      }

      &:hover {
        .image {
          img {
            transform: scale(1.02);
          }
        }

        .content {
          opacity: 1;
        }
      }
    }
  }
}
