section.headline {
  width: 100%;
  float: left;

  @media screen and  (max-width: 640px) {
    margin-bottom: 1rem !important;
  }

  .container {
    position: relative;
    text-align: center;

    span {
      font-size: 16px;
      padding: 0 50px;
      background: #fff;
      box-sizing: border-box;
      z-index: 2;
      position: relative;
      font-weight: 700;
      color: #000;
    }

    .line {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 100%;
      background: #808080;
    }
  }
}
