section.usp-repeater {
  .container {
    .usp {
      .wrapper {
        background: #eee;

        .text {
          font-weight: 700;
          font-family: $roboto;
          color: #000;
          font-size: 15px;
        }
      }
    }
  }
}
