/* eslint-disable */
.wrap[role="document"] {
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $roboto;
  font-weight: 600;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

.with-container {
  padding: 100px 10px;

  @screen md {
    padding: 100px 0;
  }
}

.map {
  width: 100%;
  float: left;
}

.blockOverlay {
  z-index: 60 !important;
}

.woocommerce-info {
  border: 2px solid #1e85be;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  box-sizing: border-box;
}

.woocommerce-error {
  border: 0;
  background-color: transparent;

  &::before {
    display: none;
  }

  li {
    border-radius: 5px;
    border: 2px solid red;
    margin-bottom: 5px;
    padding: 10px !important;
    font-weight: 500;
    box-sizing: border-box;
  }
}

.woocommerce-message {
  border-radius: 5px;
  border: 2px solid #8fae1b;
  margin-bottom: 5px;
  font-weight: 500;
  box-sizing: border-box;
}
