# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/plugins/acf-auto-export
web/app/upgrade
web/app/uploads/*
!web/app/uploads/cache
web/app/uploads/cache/*
!web/app/uploads/.gitkeep
web/app/updraft

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
